html,
body {
  background: $black;
  color: $white;
  font-family: "Interface", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include mobile {
    min-height: 100vh; /* fallback for Js load */
  }
}

::selection {
  color: $white;
  background-color: $indigo;
}

body {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url("assets/images/background.svg");
  background-size: cover;
  background-position: center;

  @include mobile {
    padding: 25px 20px;
    justify-content: flex-start;
    gap: 5vh;
  }
}

header,
main,
nav,
ul,
li,
footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: $nav;

    a {
      display: inline-block;
      cursor: pointer;
    }

    .icon {
      width: 30px;
      height: 30px;
      position: relative;
      opacity: $icon-opacity;
      &:hover {
        opacity: $icon-hover-opacity;
      }
    }

    #logo {
      width: 28px;
      height: 36px;
      background: url("./assets/images/logo.svg") no-repeat center;
      background-size: contain;
    }

    #info {
      background: url("./assets/images/icons/info.svg") no-repeat;

      &.open {
        background: url("./assets/images/icons/close.svg") no-repeat;
      }
      &::before {
        content: "More Info";
        color: $grey-medium;
        width: 100px;
        text-align: right;
        position: absolute;
        left: -100px;
        padding-right: 5px;
        top: 7px;
        opacity: 0;
      }
      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }
  }
}

main {
  flex-direction: column;
  position: relative;
  gap: 20px;
  max-width: 80vh;

  canvas {
    transform: translateY(-15%) scale(1.2);
    width: 100%;
    height: 100%;
    @include mobile {
      transform: translateY(-20%) scale(1.6);
      z-index: $default;
    }
  }

  img {
    pointer-events: none;
  }

  #yearbook-branding {
    width: 80%;
    @include mobile {
      width: 100%;
    }
  }

  ul {
    margin: 0 auto;
    gap: 45px;
    width: auto;
    align-items: flex-end;
    z-index: $overlay;

    li {
      text-align: center;
      flex-direction: column;
      gap: 15px;
      justify-content: center;
      img {
        opacity: 0.5;
      }
      h5 {
        width: 100%;
        color: $grey-medium;
        font-weight: bold;
        pointer-events: none;
      }
      &:hover {
        img {
          opacity: 0.66;
        }
        h5 {
          color: $grey;
        }
      }
    }
  }

  #play {
    position: relative;
    z-index: $modal;
  }
}

button {
  padding: 24px 75px;
  margin-top: 30px;
  color: $white;

  background: linear-gradient(232deg, $purple 0%, $indigo 100%);

  $darkPurple: darken($purple, 30);

  box-shadow: -8px 8px 0px $darkPurple, -7px 7px 0px $darkPurple,
    -6px 6px 0px $darkPurple, -5px 5px 0px$darkPurple, -4px 4px 0px $darkPurple,
    -3px 3px 0px $darkPurple, -2px 2px 0px $darkPurple, -1px 1px 0px $darkPurple;
  border-radius: 4px;

  font-family: "Nexa";
  font-weight: 900;
  font-size: 26px;
  transition: color 0.33s ease-in-out;

  $darkPurpleShifted: adjust-hue($darkPurple, 20deg);

  &:hover {
    box-shadow: -6px 6px 0px $darkPurpleShifted, -6px 6px 0px $darkPurpleShifted,
      -6px 6px 0px $darkPurpleShifted, -5px 5px 0px $darkPurpleShifted,
      -4px 4px 0px $darkPurpleShifted, -3px 3px 0px $darkPurpleShifted,
      -2px 2px 0px $darkPurpleShifted, -1px 1px 0px $darkPurpleShifted;

    background: linear-gradient(
      232deg,
      adjust-hue($purple, 20deg) 0%,
      adjust-hue($indigo, 20deg) 100%
    );

    transform: translate(-2px, 2px);
  }
}

footer {
  text-align: center;
  width: auto;
  margin: 0 auto;
  flex-direction: column;
  gap: 10px;
  pointer-events: none;
  p {
    color: $grey-medium;
    font-size: 15px;
    pointer-events: none;
  }
}
