// Colors
$black: #0e0e0e;
$green: #00ff99;
$yellow: #fff35c;
$blue: #00ccff;
$purp: #9933ff;
$red: #ff6666;
$pink: #d556b2;
$secondary-blue: #4a92f7;
$indigo: #5d5ef6;
$teal: #00e6cc;

// Spacing
$iconMargin: 15px;

// Element Sizing
$iconSize: 50px;
$preloader: 100px;

// Z-Index Layers
$default: 1;
$background: -1;
$modal: 100;
$overlay: 10;
