@import "../../src/styles/variables";
@import "../../src/styles/mixins";
@import url("https://use.typekit.net/kvp1itd.css");

html,
body {
  background: $black;
  color: $white;
  font-family: "Interface", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: auto;

  @include mobile {
    min-height: 100vh; /* fallback for Js load */
  }
}

body {
  background: url("../../static/background@2x.jpg");
  height: 100%;
  padding: $sitePadding;
  @include mobile {
    padding: $mobilePadding;
    gap: 10px;
    display: block;
    height: auto;
  }
}

header {
  position: fixed;
  left: 30px;
  z-index: 999;
  nav {
    #back {
      background: url("../../src/assets/images/icons/back.svg") no-repeat center;
      background-color: $grey-dark;
      background-size: 50%;
      transform: translate(-10px, -5px);
    }

    & > .icon {
      border-radius: 20px;
      padding: 28px;
      opacity: 0.75;
      &:hover {
        opacity: 1;
      }
    }
  }

  @include mobile {
    padding: 15px;
    left: 5px;
    position: fixed;
  }
}

.icon {
  opacity: $icon-opacity;
  &:hover {
    opacity: $icon-hover-opacity;
  }
}

.hidden {
  opacity: 0;
}

#grid {
  display: grid;
  width: 100%;
  margin-top: 100px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 3rem;
  height: auto;
  overflow: visible;
  padding: 0 125px 125px 125px;
  position: relative;

  div {
    h3 {
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: -30px;
      color: $grey;
      text-transform: capitalize;
      font-size: 15px;
    }
    img {
      border-radius: 6px;
      overflow: hidden;
      cursor: pointer;
      @include mobile {
        border-radius: 2px;
      }
    }
  }
  img,
  div {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    height: auto;
    aspect-ratio: 1/1;
  }

  #grid-loader {
    position: absolute !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%) translateY(-150%);
    width: 200px;
    height: 125px;

    z-index: 9;

    .spinner {
      border: 4px solid rgba(0, 0, 0, 0.1);
      border-top-color: $indigo;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      animation: spin 1s linear infinite;
    }
    p {
      margin-top: 30px;
      font-size: 17px;
      text-align: center;
      color: $grey-medium;
    }
    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
  }

  @include mobile() {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 0;
    grid-gap: 10px;
    margin-top: 80px;
    div {
      h3 {
        display: none;
      }
    }
  }
}

// modal

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  z-index: $modal;

  // desktop safari banner warning
  &.banner {
    height: 50px;

    @include gradient($purple, $indigo);
    border-radius: 8px;

    z-index: $warning;
    align-items: center;

    padding: 0 $sitePadding;

    width: 80%;
    left: 10%;
    top: 25px;
    display: flex;

    @include shadow($purple, 5, 15%);
    animation: bounceIn 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;

    @keyframes bounceIn {
      from {
        display: none;
        opacity: 0;
        transform: scale(0.9);
      }
      to {
        display: flex;
        opacity: 1;
        transform: scale(1);
      }
    }

    .modal-content {
      flex-direction: row;
      align-items: center;
      display: flex;
      width: 100%;
      justify-content: space-between;
      .left,
      .right {
        display: flex;
        align-items: center;
        gap: 5px;

        h6 {
          margin: 0;
          line-height: 150%;
        }
        p,
        h6,
        a {
          color: $white;
        }
        a#hide-banner {
          background: url("../../src/assets/images/icons/close.svg") no-repeat;

          padding: 10px;
          background-size: contain;
          opacity: 0.75;
          &:hover {
            opacity: 1;
          }
        }
      }
    }

    @include mobile {
      display: flex !important;
      visibility: visible;
      left: 22%;
      margin-top: -5px;

      width: 75%;
      padding: 0 15px;
      .modal-content {
        h6 {
          font-size: 14px;
          display: none;
        }
        p {
          text-wrap: balance;
        }
        .right {
          display: none;
        }
      }
    }
  }

  // overlay
  &#overlay {
    z-index: $warning;
    padding: 0;
    top: 0;
    display: none;
    box-sizing: border-box;

    .overlay-content {
      width: calc(640px + 30px);
      max-width: none;
      margin: 0;
      height: 80vh;
      border-radius: 6px;
      padding-bottom: 50px;
      position: relative;
      @include gradient($indigo, $purple);

      @for $i from 1 through 200 {
        $style-index: $i % 5 + 1; // Cycle through 5 different styles
        &[data-scene-index="#{$i}"] {
          @if $style-index == 1 {
            @include gradient($red, $pink);
            section h6 {
              text-shadow: -4px 1px 0 $pink;
            }
            #canvas {
              &::before {
                content: "Paws and relax, portrait loading...";
              }
              spline-viewer {
                &::before {
                  border-top-color: $pink;
                }
              }
            }
          } @else if $style-index == 2 {
            @include gradient($indigo, $blue);
            section h6 {
              text-shadow: -4px 1px 0 $green;
            }
            #canvas {
              &::before {
                content: "Sorting 1s and 0s...hang in there!";
              }
              spline-viewer {
                &::before {
                  border-top-color: $indigo;
                }
              }
            }
          } @else if $style-index == 3 {
            @include gradient($blue, $green);
            section h6 {
              text-shadow: -4px 1px 0 $yellow;
            }
            #canvas {
              &::before {
                content: "Building the bits and boops, stay pawsitive";
              }
              spline-viewer {
                &::before {
                  border-top-color: $blue;
                }
              }
            }
          } @else if $style-index == 4 {
            @include gradient($red, $yellow);
            section h6 {
              text-shadow: -4px 1px 0 $yellow;
            }
            #canvas {
              &::before {
                content: "Rendering pickles, one moment...";
              }
              spline-viewer {
                &::before {
                  border-top-color: $yellow;
                }
              }
            }
          } @else if $style-index == 5 {
            // background-color: purple;
          }
        }
      }

      // close overlay
      a#overlay-toggle {
        position: absolute;
        top: 0;
        right: -60px;
        z-index: 99999;
        background: $grey-medium url("../../src/assets/images/icons/close.svg")
          no-repeat center center;
        background-size: 60%;
        padding: 25px;
        border-radius: 12px;
        width: 50px;
        height: 50px;

        @include mobile {
          top: -10px;
          opacity: 1;
          right: -10px;
          background: $grey-dark url("../../src/assets/images/icons/close.svg")
            no-repeat center center;
          background-size: 60%;
          width: 40px;
          height: 40px;
        }
      }

      section {
        text-align: center;
        width: 100%;
        justify-content: center;
        align-items: center;
        h6 {
          font-size: 54px;
          line-height: 28px;
          color: $black;
          text-transform: capitalize;
          font-family: "adobe-handwriting-ernie", sans-serif;
          letter-spacing: -1px;
          text-shadow: -4px 1px 0 $pink;
          @include mobile {
            font-size: 42px;
            line-height: 42px;
          }
        }

        ul {
          justify-content: center;
        }

        ul,
        li {
          text-align: center;
          margin: 0 10px;
          width: auto;
        }
        a {
          font-size: 15px;
          text-decoration: underline;
          color: $white;
        }
      }
      #canvas {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        position: relative;
        margin: 0 auto;
        background: $black;
        border-radius: 6px;
        overflow: hidden;
        &::before {
          content: "Generating You...";
          font-family: "Interface", sans-serif;
          font-size: 15px;
          text-align: center;
          position: absolute;
          color: $grey-medium;
          left: 50%;
          top: calc(50% + 30px);
          transform: translate(-50%, -50%);
          z-index: 0;
        } // loader text

        spline-viewer {
          overflow: hidden;
          width: 100%;
          height: 100%;

          &::before {
            position: absolute;
            content: "";
            z-index: 0;
            left: calc(50% - 15px);
            top: calc(50% - 30px);
            border: 3px solid rgba(0, 0, 0, 0.1);
            border-top-color: $indigo;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            animation: spin 1s linear infinite;
          }
        }
      }

      @include mobile {
        width: 90%;
        height: 75vh;
        outline: 1px solid $grey-dark;
      }
    }
  }
}

body.portrait-open {
  aside#overlay {
    display: flex;
    canvas {
      display: inline-block;
    }
  }
}

// Hide Spline Joystick
@include mobile {
  div.nipple {
    display: none !important;
    opacity: 0;
  }
}
