@import "../src/styles/variables";

html,
body {
  @include mobile {
    min-height: 100vh; /* fallback for Js load */
  }
}

body {
  background: $black;
  height: 100%;
  overflow: hidden;
  padding: 0;
  display: block;
}

header {
  position: absolute;
  padding: 20px 18px;

  nav {
    #back {
      background: url("../src/assets/images/icons/back.svg") no-repeat center;
      background-color: $glass;
      background-size: 50%;
    }

    #sound {
      background: url("../src/assets/images/icons/sound-on.svg") no-repeat
        center;
      background-color: $glass;
      background-size: 50%;
      &.muted,
      &:hover {
        background: url("../src/assets/images/icons/sound-off.svg") center
          no-repeat;
        background-color: $black;
        background-size: 50%;
      }
    }

    #fullscreen {
      background: url("../src/assets/images/icons/fullscreen.svg") no-repeat
        center;
      position: fixed;
      left: 20px;
      bottom: 18px;
      background-color: $glass;
      background-size: 50%;
      &.active {
        background: url("../src/assets/images/icons/fullscreen-exit.svg") center
          no-repeat;
        background-color: $black;
        background-size: 50%;
      }
    }

    #controller {
      background: url("../src/assets/images/icons/controller.svg") no-repeat
        center;
      position: fixed;
      right: 20px;
      bottom: 18px;
      background-color: $glass;
      background-size: 50%;

      ul {
        height: 160px;
        visibility: hidden;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5px;
        display: flex;
        position: absolute;
        top: -140px;
        right: 0;
        background-color: $glass;
        border-radius: 52px 52px 0 0;
        padding: 20px;

        #keyboard {
          background: url("../src/assets/images/icons/arrows.svg") no-repeat;
          background-size: 75%;
          background-position: center;
        }

        #spacebar {
          background: url("../src/assets/images/icons/spacebar.svg") no-repeat;
          background-size: 75%;
          background-position: center;
        }

        #mouse {
          background: url("../src/assets/images/icons/mouse.svg") no-repeat;
          background-size: 75%;
          background-position: center;
        }

        .icon {
          width: 36px;
          height: 36px;
        }
      }
      &:hover {
        border-radius: 0 0 24px 24px;
        ul {
          visibility: unset;
        }
      }
    }

    & > .icon {
      border-radius: 20px;
      padding: 28px;
      opacity: 0.85;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.icon {
  opacity: $icon-opacity;
  &:hover {
    opacity: $icon-hover-opacity;
  }
}

@import "../src/styles/loader-cubes";

#preloader {
  #progress {
    text-align: center;
    width: auto;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: $grey;
    letter-spacing: 0.5px;
    font-family: "Interface", sans-serif;
    font-size: 13px;
    font-weight: bold;

    .inactive {
      display: none;
    }
  }
  footer {
    bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  @include mobile {
    width: 100%;
    height: 100%;
  }
}

.hidden {
  opacity: 0;
}

body:not(.scene-loaded) {
  #sound,
  #controller,
  #fullscreen {
    display: none;
  }
}
